@{
    ViewBag.Title = "错误";
    Layout = "~/Areas/User/Views/Shared/_Layout2.cshtml";
}
<div class="contentcontainer m-center" style="height: 300px;">
<div class="headings altheading"><h2>错误</h2></div>
    <div class="contentbox" style="height: 200px;">
    <div class="status">
        <div><img src="@Url.Content("~/Content/images/error.jpg") " alt="error" />
        <h1 style="padding-top: 60px; padding-left: 200px;">抱歉，出错了！</h1></div>
    </div>
</div></div>