@{
    ViewBag.Title = "发送邮件成功";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="contentcontainer m-center" style="height: 300px;">
<div class="headings altheading"><h2>发送邮件成功</h2></div>
    <div class="contentbox" style="height: 200px;">
    <div class="status success">
        <p>我们已经发送一封激活邮件到您的邮箱中，请激活后重新登录系统！</p>
    </div>
</div></div>

